{% extends 'base.html' %}

{% block content %}
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are Asaman
              </h2>
            </div>
            <p>
              Asaman is a fully licensed specialty pharmaceutical distributor, assisting a wide range of clients with their clinical trial needs.

                We are not your average pharmaceutical distributor.

              Asaman specializes in pharmaceutical procurement of comparator drugs, often those necessary for the most complex clinical trials. We are dedicated to making the clinical trial process simpler, by distributing high quality comparator drugs in a timely, precise and cost efficient manner.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- footer section -->
{% endblock content %}